// Disney Aulani Sweepstakes

// Colors
// ---------------
$bg-color: #fff;
$text-color: #222;

// Fonts
// ---------------

// Measurements
// ---------------

// Media Query Sizes
$break-small:  25rem;
$break-medium: 40rem;
$break-large:  64rem;
